In [1]:
import pandas as pd

In [6]:
soja = pd.read_csv("Soja/Soja_Resultados.csv", sep=",")
soja["id"] = 0
milho = pd.read_csv("Milho/Milho_Resultados.csv", sep=",")
milho["id"] = 1
trigo = pd.read_csv("Trigo/Trigo_Resultados.csv", sep=",")
trigo["id"] = 2

In [10]:
resultados = pd.concat([soja, milho, trigo])
# resultados['ds'] = pd.to_datetime(resultados["ds"])
resultados

                     ds         y        País       USD        yhat  id
0            2020-08-01  117.0222  113.337500  5.280191  111.139290   0
1            2020-09-01  130.8449  128.300400  5.461233  128.175342   0
2            2020-10-01  156.7972  147.412100  5.399486  147.863654   0
3            2020-11-01  169.1946  157.398200  5.625790  160.387330   0
4            2020-12-01  147.9145  140.930100  5.417835  145.899544   0
..                  ...       ...         ...       ...         ...  ..
69  2026-05-01 00:00:00    0.0000   57.556133  6.227675   62.199582   2
70  2026-06-01 00:00:00    0.0000   57.868359  6.277252   62.552270   2
71  2026-07-01 00:00:00    0.0000   57.791281  6.269313   62.581179   2
72  2026-08-01 00:00:00    0.0000   57.217157  6.228821   61.789774   2
73  2026-09-01 00:00:00    0.0000   57.312107  6.290234   61.757776   2

[222 rows x 6 columns]

In [11]:
resultados.to_csv("resultados_prophet.csv", sep=",", index=False)