In [2]:
import pandas as pd

In [62]:
soja = pd.read_csv("Soja/Soja_Resultados.csv", sep=",")
soja["Cultivo"] = "Soja"
milho = pd.read_csv("Milho/Milho_Resultados.csv", sep=",")
milho["Cultivo"] = "Milho"
trigo = pd.read_csv("Trigo/Trigo_Resultados.csv", sep=",")
trigo["Cultivo"] = "Trigo"
algodao = pd.read_csv("Algodâo/Algodao_Resultados.csv", sep=",")
algodao["Cultivo"] = "Algodao"

soja.rename(columns={"ds":"Data", "y":"Estadual", "yhat":"Previsão"}, inplace=True)
milho.rename(columns={"ds":"Data", "y":"Estadual", "yhat":"Previsão"}, inplace=True)
trigo.rename(columns={"ds":"Data", "y":"Estadual", "yhat":"Previsão"}, inplace=True)
algodao.rename(columns={"ds":"Data", "y":"Estadual", "yhat":"Previsão"}, inplace=True)

soja["model"] = "PROPHET"
milho["model"] = "PROPHET"
trigo["model"] = "PROPHET"
algodao["model"] = "PROPHET"

soja2 = pd.read_csv("Soja/arima/Soja_Resultados_ARIMA.csv", sep=",")
milho2 = pd.read_csv("Milho/arima/Milho_Resultados_ARIMA.csv", sep=",")
trigo2 = pd.read_csv("Trigo/arima/Trigo_Resultados_ARIMA.csv", sep=",")
algodao2 = pd.read_csv("Algodâo/arima/Algodao_Resultados_ARIMA.csv", sep=",")

datas2 = pd.date_range(start='2004-03-01', end='2024-08-01', freq="MS")
soja2["Data"] = datas2
milho2["Data"] = datas2
trigo2["Data"] = datas2
algodao2["Data"] = datas2

soja2.rename(columns={"predict_Estadual":"Previsão"}, inplace=True)
milho2.rename(columns={"predict_Estadual":"Previsão"}, inplace=True)
trigo2.rename(columns={"predict_Estadual":"Previsão"}, inplace=True)
algodao2.rename(columns={"predict_Estadual":"Previsão"}, inplace=True)

soja2 = soja2[["Data", "Estadual", "País", "USD", "Previsão", "Cultivo", "model"]]
milho2 = milho2[["Data", "Estadual", "País", "USD", "Previsão", "Cultivo", "model"]]
trigo2 = trigo2[["Data", "Estadual", "País", "USD", "Previsão", "Cultivo", "model"]]
algodao2 = algodao2[["Data", "Estadual", "País", "USD", "Previsão", "Cultivo", "model"]]

soja2.fillna(0, inplace=True)
milho2.fillna(0, inplace=True)
trigo2.fillna(0, inplace=True)
algodao2.fillna(0, inplace=True)

soja2 = soja2[:197]
milho2 = milho2[:197]
trigo2 = trigo2[:197]
algodao2 = trigo2[:197]

datas = pd.date_range(start='2020-08-01', end='2026-09-01', freq="MS")
soja["Data"] = datas
milho["Data"] = datas
trigo["Data"] = datas

datas_alg = pd.date_range(start='2020-10-01', end='2026-09-01', freq="MS")
algodao["Data"] = datas_alg

soja = pd.concat([soja2,soja], ignore_index=True).reset_index(drop=True)
soja["model"] = "PROPHET"
milho = pd.concat([milho2,milho], ignore_index=True).reset_index(drop=True)
milho["model"] = "PROPHET"
trigo = pd.concat([trigo2,trigo], ignore_index=True).reset_index(drop=True)
trigo["model"] = "PROPHET"
algodao = pd.concat([algodao2,algodao], ignore_index=True).reset_index(drop=True)
algodao["model"] = "PROPHET"

In [64]:
resultados_prophet = pd.concat([soja, milho, trigo, algodao])
# resultados_prophet["model"] = "PROPHET"
# resultados_prophet.rename(columns={"ds":"Data", "y":"Estadual", "yhat":"Previsão"}, inplace=True)
# resultados['ds'] = pd.to_datetime(resultados["ds"])
resultados_prophet['Estadual'] = resultados_prophet['Estadual'].map('{:,.2f}'.format)
resultados_prophet['País'] = resultados_prophet['País'].map('{:,.2f}'.format)
resultados_prophet['USD'] = resultados_prophet['USD'].map('{:,.2f}'.format)
resultados_prophet['Previsão'] = resultados_prophet['Previsão'].map('{:,.2f}'.format)
resultados_prophet

          Data Estadual    País   USD Previsão  Cultivo    model
0   2004-03-01    45.38   50.05  2.91     0.00     Soja  PROPHET
1   2004-04-01    45.95   48.73  2.91     0.00     Soja  PROPHET
2   2004-05-01    44.87   47.49  3.10     0.00     Soja  PROPHET
3   2004-06-01    38.59   40.78  3.13     0.00     Soja  PROPHET
4   2004-07-01    34.08   37.55  3.04     0.00     Soja  PROPHET
..         ...      ...     ...   ...      ...      ...      ...
264 2026-05-01     0.00  116.52  6.61   108.43  Algodao  PROPHET
265 2026-06-01     0.00  115.84  6.61   107.88  Algodao  PROPHET
266 2026-07-01     0.00  114.27  6.60   105.95  Algodao  PROPHET
267 2026-08-01     0.00  114.19  6.67   105.58  Algodao  PROPHET
268 2026-09-01     0.00  114.98  6.75   106.38  Algodao  PROPHET

[1082 rows x 7 columns]

In [65]:
resultados_prophet.to_csv("resultados_prophet.csv", sep=",", index=False)

In [68]:
soja = pd.read_csv("Soja/arima/Soja_Resultados_ARIMA.csv", sep=",")
milho = pd.read_csv("Milho/arima/Milho_Resultados_ARIMA.csv", sep=",")
trigo = pd.read_csv("Trigo/arima/Trigo_Resultados_ARIMA.csv", sep=",")
algodao = pd.read_csv("Algodâo/arima/Algodao_Resultados_ARIMA.csv", sep=",")

datas = pd.date_range(start='2004-03-01', end='2024-08-01', freq="MS")
soja["Data"] = datas
milho["Data"] = datas
trigo["Data"] = datas
algodao["Data"] = datas

In [69]:
resultados_arima = pd.concat([soja, milho, trigo,algodao])
resultados_arima.rename(columns={"predict_Estadual":"Previsão"}, inplace=True)
resultados_arima = resultados_arima[["Data", "Estadual", "País", "USD", "Previsão", "Cultivo", "model"]]
resultados_arima.fillna(0, inplace=True)
# resultados['ds'] = pd.to_datetime(resultados["ds"])

In [70]:
resultados_arima['Estadual'] = resultados_arima['Estadual'].map('{:,.2f}'.format)
resultados_arima['País'] = resultados_arima['País'].map('{:,.2f}'.format)
resultados_arima['USD'] = resultados_arima['USD'].map('{:,.2f}'.format)
resultados_arima['Previsão'] = resultados_arima['Previsão'].map('{:,.2f}'.format)

In [71]:
resultados_arima

          Data Estadual    País   USD Previsão  Cultivo  model
0   2004-03-01    45.38   50.05  2.91     0.00     Soja  ARIMA
1   2004-04-01    45.95   48.73  2.91     0.00     Soja  ARIMA
2   2004-05-01    44.87   47.49  3.10     0.00     Soja  ARIMA
3   2004-06-01    38.59   40.78  3.13     0.00     Soja  ARIMA
4   2004-07-01    34.08   37.55  3.04     0.00     Soja  ARIMA
..         ...      ...     ...   ...      ...      ...    ...
241 2024-04-01   121.01  127.74  4.80   126.99  Algodão  ARIMA
242 2024-05-01   122.93  127.71  4.90   127.14  Algodão  ARIMA
243 2024-06-01   127.90  132.34  4.94   132.03  Algodão  ARIMA
244 2024-07-01   126.32  131.66  5.06   130.91  Algodão  ARIMA
245 2024-08-01   124.22  129.13  4.90   128.39  Algodão  ARIMA

[984 rows x 7 columns]

In [72]:
resultados_arima.to_csv("resultados_arima.csv", sep=";", index=False)

In [73]:
resultados_all = pd.concat([resultados_prophet, resultados_arima], ignore_index=True)
resultados_all.to_csv("resultados_all.csv", sep=",", index=False)

In [74]:
resultados_all

           Data Estadual    País   USD Previsão  Cultivo    model
0    2004-03-01    45.38   50.05  2.91     0.00     Soja  PROPHET
1    2004-04-01    45.95   48.73  2.91     0.00     Soja  PROPHET
2    2004-05-01    44.87   47.49  3.10     0.00     Soja  PROPHET
3    2004-06-01    38.59   40.78  3.13     0.00     Soja  PROPHET
4    2004-07-01    34.08   37.55  3.04     0.00     Soja  PROPHET
...         ...      ...     ...   ...      ...      ...      ...
2061 2024-04-01   121.01  127.74  4.80   126.99  Algodão    ARIMA
2062 2024-05-01   122.93  127.71  4.90   127.14  Algodão    ARIMA
2063 2024-06-01   127.90  132.34  4.94   132.03  Algodão    ARIMA
2064 2024-07-01   126.32  131.66  5.06   130.91  Algodão    ARIMA
2065 2024-08-01   124.22  129.13  4.90   128.39  Algodão    ARIMA

[2066 rows x 7 columns]